<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventana de Chat</title>
    <link rel="stylesheet" href="/css/loggedIn.css">
</head>
<body>
    <div class="container">
        <script src="/js/loggedIn.js"></script>
        <div class="header">
            <h3 th:text="${message}"></h3>
            <form action="/" method="post" onsubmit="return confirm('Are you sure you want to logout?');">
                <input class="logout" type="submit" value="Logout">
            </form>
        </div>
        <div class="chat-container">
            <div class="sidebar">
                <div class="search-bar">
                    <form action="/search" method="post">
                        <input type="text" id="searchUsername" name="searchUsername" required placeholder="Search contacts...">
                        <button type="submit" class="search-button">
                            <span class="plus-icon">+</span>
                        </button>
                    </form>
                </div>
                <h4>Users</h4>
                <ul class="contact-list" id="contactList">
                    <!-- Iterar sobre la lista de usuarios y mostrarlos -->
                    <li class="contact-item" th:each="user : ${userList}" onclick="selectUser(this)" data-jid="${user.getJid().toString()}">
                        <span th:text="${user.getJid().toString()}"></span>
                        <!--<ul>
                            <li th:each="user : ${presencesMap[user.getJid().toString()]}">
                             <span th:text="${user.mode}"></span>: <span th:text="${user.status}"></span>
                            </li>
                        </ul>-->
                    </li>
                    <!--<li th:each="entry : ${userList}">
                    <span th:text="${entry.name}"></span> - <span th:text="${entry.jid}"></span>
                    <ul>
                        <li th:each="presence : ${presencesMap[entry.jid.toString()]}">
                            <span th:text="${presence.mode}"></span>: <span th:text="${presence.status}"></span>
                        </li>
                        </ul>
                    </li>-->
                </ul>
            </div>
            <div class="chat" id="chat">
                <!-- Mensajes cargados dinámicamente -->
            </div>
        </div>
        <div class="input-container">
            <input type="text" id="messageInput" placeholder="Enter text here...">
            <button id="sendButton">Send</button>
        </div>
    </div>
</body>
</html>
